@import "../../_settings.scss";
@mixin baseCenter {
  max-width: 1280px;
  width: 1280px;
  margin: 0 auto;
}
body {
  @include baseCenter;
  background: $white;
}
header {
  @include baseCenter;
  height: auto;
  background: $white;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .headerlogo {
    position: relative;
    top: 0;
    left: 0;
    background: $branuRed;
    display: inline-block;
    color: $white;
    width: 300px;
    padding: 5px;
    text-align: center;
    &:hover {
      opacity: 0.8;
    }
  }
  span {
    display: inline-block;
    font-family: $branuFont;
    font-size: 30px;
  }
  .searchwindow_warpper {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section_searchwindow {
    height: 80px;
    display: flex;
    align-items: center;
  }
  form#form1 {
    height: 80px;
  }
  input#sbox1 {
    background: white;
    border: 1px solid;
    width: 430px;
  }
  input#sbtn1 {
    position: absolute;
    top: 0;
    width: 45px;
    height: 45px;
    border-radius: 3px;
    background: #000;
    background-image: url("../img/search.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: $branuRed;
    &:hover {
      opacity: 0.8;
    }
  }
  .list_botton {
    display: flex;
    align-items: center;
    padding: 0 30px;
    position: relative;
    top: -15px;
    left: 40px;
    display: none;
  }
  button {
    width: 120px;
    border: 1px solid #d1d1d1;
    border-radius: 40px;
    height: 40px;
  }
  button:hover {
    border: 1px solid $branuRed;
    background: $branuRed;
    color: $white;
  }
}
.list_maincontents {
  @include baseCenter;
  display: flex;
  justify-content: space-between;
  .selection_menu_sidebar_wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    display: -webkit-flex;
    display: flex;
  }
  h2 {
    font-size: 30px;
    color: #6d6d6d;
  }
  .section_filtered_search_box {
    position: sticky;
    top: 0;
    left: 0;
    .select_box {
      width: 280px;
      margin-left: 20px;
    }
    .area_wrapper,
    .industry_box_wrapper,
    .sales_staff_wrapper,
    .scale_box_wrapper,
    .update_date_box_wrappe,
    .views_box_wrapper {
      padding-bottom: 10px;
    }
    .select_box_inner {
      padding: 5px;
      border: 1px solid #d1d1d1;
      .text_warpper {
        p {
          font-size: 15px;
          color: #000;
          display: inline-block;
          position: relative;
          top: 0;
          left: 15px;
          &:after {
            font-family: 'Material Icons';
            content: "\e313";
            position: absolute;
            font-size: 30px;
            top: -13px;
            left: 220px;
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .section_service_search_box {
    position: sticky;
    top: 314px;
    left: 0;
    ul.servise_list_wrapper {
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
    }
    li.servise_list_inner {
      font-size: 15px;
      border: 1px solid #dddd;
      padding: 3px 20px;
      margin: 10px;
      p {
        color: #000;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .feature_search_box {
      position: sticky;
      top: 520px;
    li.feature_search_inner {
      display: block;
      padding: 5px;
      margin-left: 20px;
      p {
        color: #000;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }


  main {
    width: 980px;
    .customer_list_wrap{
      width: 920px;
    .display_num_wrap {
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
      p.hit-num-txt {
      padding-left: 90px;
      }
      span.hit_num {
        font-size: 25px;
      }
      span.total_num {
        color: #d1d1d1;
      }
      dl.sort-nav-wrap {
        display: flex;
        dt {
        padding: 5px 30px;
        display: block;
        }
      }
      ul.sort-nav-txt {
        display: flex;
        li {
        padding-right: 30px;
        font-size: 20px;
        a {
        color: #000;
          }
        }
      }
    }
    .customer_list_box_wrap{
      width: 920px;
      padding-left: 20px;
      .customer_list_box_inner{
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      ul.customer_list{
        display: flex;
        justify-content: space-between;
        height: auto;
        flex-wrap: wrap;
        width: 840px;
        margin: auto;
      }
      li.customer_list_box{
        width: 280px;;
        padding: 10px;
      }
      .customer_list_bg{
        position: relative;
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: center;
        width: 260px;
        height: 190px;
        &:hover{
          opacity: 0.8;
        }
        }
        .introduction_service{
          display: flex;
          justify-content: space-evenly;
          padding-bottom: 5px;
          & span{
            border: 1.5px solid #d3434a;
            border-radius: 30px;
            width: 60px;
            height: 20px;
            text-align: center;
            font-size: 11px;
            color: #d3434a;
            font-weight: 600;
            display: inline-block;
          }
        }
        dl {
        display: flex;
        flex-wrap: wrap;
        }
        .information_text_warpper {
        padding-right: 6px;
        }
        .information_company_name {
          position: relative;
          &::before{
              content: "";
              position: absolute;
              top:0;
              width: 15px;
              height: 15px;
              border-radius: 3px;
              background: #000;
              background-image: url(../img/search.png);
              background-position: center;
              background-repeat: no-repeat;
              background-size: 15px;
              background-color: $branuRed;
          }
        }
        .information_industry {
          position: relative;
          &::before{
              content: "";
              position: absolute;
              top:0;
              width: 15px;
              height: 15px;
              border-radius: 3px;
              background: #000;
              background-image: url(../img/search.png);
              background-position: center;
              background-repeat: no-repeat;
              background-size: 15px;
              background-color: $branuRed;
          }
        }
        .information_relase_date {
          position: relative;
          &::before{
              content: "";
              position: absolute;
              top:0;
              width: 15px;
              height: 15px;
              border-radius: 3px;
              background: #000;
              background-image: url(../img/search.png);
              background-position: center;
              background-repeat: no-repeat;
              background-size: 15px;
              background-color: $branuRed;
          }
        }
        .information_annualsales {
          position: relative;
          &::before{
              content: "";
              position: absolute;
              top:0;
              width: 15px;
              height: 15px;
              border-radius: 3px;
              background: #000;
              background-image: url(../img/search.png);
              background-position: center;
              background-repeat: no-repeat;
              background-size: 15px;
              background-color: $branuRed;
          }
        }
        .information_people {
          position: relative;
          &::before{
              content: "";
              position: absolute;
              top:0;
              width: 15px;
              height: 15px;
              border-radius: 3px;
              background: #000;
              background-image: url(../img/search.png);
              background-position: center;
              background-repeat: no-repeat;
              background-size: 15px;
              background-color: $branuRed;
          }
        }
        .information_address {
          position: relative;
          &::before{
              content: "";
              position: absolute;
              top:0;
              width: 15px;
              height: 15px;
              border-radius: 3px;
              background: #000;
              background-image: url(../img/search.png);
              background-position: center;
              background-repeat: no-repeat;
              background-size: 15px;
              background-color: $branuRed;
          }
        }
        .information_plan {
          position: relative;
          &::before{
              content: "";
              position: absolute;
              top:0;
              width: 15px;
              height: 15px;
              border-radius: 3px;
              background: #000;
              background-image: url(../img/search.png);
              background-position: center;
              background-repeat: no-repeat;
              background-size: 15px;
              background-color: $branuRed;
          }
        }
        .information_rank {
          position: relative;
          &::before{
              content: "";
              position: absolute;
              top:0;
              width: 15px;
              height: 15px;
              border-radius: 3px;
              background: #000;
              background-image: url(../img/search.png);
              background-position: center;
              background-repeat: no-repeat;
              background-size: 15px;
              background-color: $branuRed;
          }
        }
        p {
          font-size: 12px;
          color: #868585;
          padding-left: 20px;
        }
        .information_plan p{
          padding-right: 10px;
        }
     }

  }
 }
}
